<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Music Genre</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href='{{ url_for('static', filename='style.css') }}' rel='stylesheet' type='text/css'/>
  <title>Hello World in Flask</title>
  
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div align="right">
        <iframe id="player" width="35%" height="95" scrolling="no" frameborder="no" allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/259325562&color=%235e0078&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
        <div>
          <a href="https://soundcloud.com/prince" title="Prince" target="_blank"
            style="color: #cccccc; text-decoration: none;">Prince</a> · <a
            href="https://soundcloud.com/prince/purple-rain" title="Purple Rain" target="_blank"
            style="color: #cccccc; text-decoration: none;">Purple Rain</a>
        </div>
      </div>
    </div><!-- End Header Container -->
  </header><!-- End Header -->

  <!-- ======= Main Landing ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
      <h1>Classifying Music Genres</h1>
      <h2>The Revolution</h2>
      <!-- <a href="#about" class="btn-get-started scrollto">Let's Check It Out</a> -->
      <button type="button" class="btn-btn-primary" data-toggle="modal" data-target="#exampleModalLong">
        Check It Out!!
      </button>
    </div>
  </section><!-- End Hero -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="image">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center position-relative">
          <img src="../assets/img/music-difference.jpg" width="475" height="475">
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container text-center">
      <h3>How much music is out there?</h3>
      <h4>According to Spotify...</h4>
      <div class="row counters">

        <div class="col-lg-4 col-6 text-center">
          <span>Over 60,000,000</span>
          <p>Songs</p>
        </div>

        <div class="col-lg-4 col-6 text-center">
          <span>Over 2665</span>
          <p>Genres</p>
        </div>

        <div class="col-lg-4 col-6 text-center">
          <span>Over 4 billion</span>
          <p>Playlists</p>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row content">
        <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
          <h2>“The only truth is music.”</h2>
          <h3>― Jack Kerouac</h3>
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="100">
          <ul>
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn-btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                      aria-controls="collapseOne">
                      What is 'genre'?
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    Music genre is defined as “a conventional category that identifies some pieces of music as belonging
                    to a shared tradition or set of conventions.” As with all other forms of artistic expression, music
                    genre is subject to interpretation and there is a lot of overlap. Some common examples of music
                    genre are: pop, classical, rock, and reggae. Some lesser-known music genres (according to Spotify):
                    animal singing, drone metal, vegan straight edge, and shimmer psych.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn-btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                      aria-expanded="false" aria-controls="collapseTwo">
                      How has technology changed music?
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    Technology has changed the way music is composed, heard, and transmitted. For example, “Strawberry
                    Fields Forever” is said to have been 2 different recorded versions that were spliced together and
                    adjusted for
                    tempo and pitch, therefore creating the song we know today. Google’s Magenta Project can produce
                    songs that have been written and are performed by AI. Technology is becoming more and more involved
                    in the creative process. LANDR, an AI-based mastering service, allows artists to master their own
                    tracks by replicating human engineers with AI and machine learning and they have helped 2 million
                    musicians master more than 10 million songs.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn-btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                      aria-expanded="false" aria-controls="collapseThree">
                      Do genres exist anymore?
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    Yes and no. With technology being used more often in the creation and production processes, certain
                    music features that may sound like they belong to different genres, can actually be more closely
                    related when extracted and compared. However, there are specific features that distinguish one genre
                    from another. For example, classical music refers to most orchestral styles with no vocals, whereas
                    metal features a band setup with electric guitars, bass, and drums, and a 'heavy' and aggressive
                    sound.
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">
      <div class="section-title">
        <h2>Spectrograms</h2>
      </div>
      <div class="portfolio-text">
        <h4>A spectrogram is a visual representation of the spectrum of frequencies of a signal as it varies with time.
        </h4>
        <p>Each graph is made of two geometric dimensions - one axis represents time, the other represents frequency. A
          third dimension indicates the amplitude of a particular frequency and is represented by a change in color. The
          higher the intensity, the brighter the color. The spectrograms below were created using <a
            href="https://librosa.org/doc/latest/index.html" class="kn" rel="noopener nofollow">librosa</a>, a
          python package used for music and audio analysis.
        </p>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-10 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="../Spectrograms/blues/blues00000.png" class="img-fluid" alt="">
            <caption>Blues</caption>
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="../Spectrograms/blues/blues00000.png" data-gall="portfolioGallery" class="venobox"
                  title="Blues"><i class="bx bx-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-10 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="../Spectrograms/classical/classical00000.png" class="img-fluid" alt="">
            <caption>Classical</caption>
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="../Spectrograms/classical/classical00000.png" data-gall="portfolioGallery" class="venobox"
                  title="Classical"><i class="bx bx-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-10 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="../Spectrograms/country/country00000.png" class="img-fluid" alt="">
            <caption>Country</caption>
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="../Spectrograms/country/country00000.png" data-gall="portfolioGallery" class="venobox"
                  title="Country"><i class="bx bx-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-10 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="../Spectrograms/disco/disco00000.png" class="img-fluid" alt="">
            <caption>Disco</caption>
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="../Spectrograms/disco/disco00000.png" data-gall="portfolioGallery" class="venobox"
                  title="Disco"><i class="bx bx-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-10 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="../Spectrograms/hiphop/hiphop00000.png" class="img-fluid" alt="">
            <caption>HipHop</caption>
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="../Spectrograms/hiphop/hiphop00000.png" data-gall="portfolioGallery" class="venobox"
                  title="HipHop"><i class="bx bx-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-10 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="../Spectrograms/jazz/jazz00000.png" class="img-fluid" alt="">
            <caption>Jazz</caption>
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="../Spectrograms/jazz/jazz00000.png" data-gall="portfolioGallery" class="venobox" title="Jazz"><i
                    class="bx bx-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-10 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="../Spectrograms/metal/metal00000.png" class="img-fluid" alt="">
            <caption>Blues</caption>
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="../Spectrograms/metal/metal00000.png" data-gall="portfolioGallery" class="venobox"
                  title="Blues"><i class="bx bx-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-10 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="../Spectrograms/pop/pop00000.png" class="img-fluid" alt="">
            <caption>Pop</caption>
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="../Spectrograms/pop/pop00000.png" data-gall="portfolioGallery" class="venobox" title="Pop"><i
                    class="bx bx-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-10 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="../Spectrograms/reggae/reggae00000.png" class="img-fluid" alt="">
            <caption>Reggae</caption>
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="../Spectrograms/reggae/reggae00000.png" data-gall="portfolioGallery" class="venobox"
                  title="Reggae"></a><i class="bx bx-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-10 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="../Spectrograms//rock/rock00000.png" class="img-fluid" alt="">
            <caption>Rock</caption>
            <div class="portfolio-info">
              <div class="portfolio-links">
                <a href="../Spectrograms//rock/rock00000.png" data-gall="portfolioGallery" class="venobox" title="Rock"><i
                    class="bx bx-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Uploader ======= -->
  <section id="audio" class="audio">
    <div class="container">
      <div class="text-center" data-aos="zoom-in">
        <h2>Test the Theory</h2>
        <h4>Upload a Song</h4>
        <form action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">
          <input type="file" name="Upload" id="file" class="inputfile" />
          <input type="submit" name="submit" id="submit" class="submitfile" />
        </form>
      </div>
    </div>
  </section><!-- End Uploader Section -->

  <!-- ======= Sources ======= -->
  <section id="source">
    <div class="source-list">
      <h5>Sources</h5>
      <ul>
        <li><a href="https://librosa.org/doc/latest/index.html">librosa</a></li>
        <li><a href="https://newsroom.spotify.com/company-info/">Spotify</a></li>
        <li><a href="https://magenta.tensorflow.org/">Magenta</a></li>
        <li><a href="https://www.landr.com/">LANDR</a></li>
        <li><a href="https://towardsdatascience.com/music-genre-classification-with-python-c714d032f0d8">Music Genre
            Classification with Python</a></li>
        <li><a
            href="https://www.music.org/index.php?option=com_content&view=article&id=2675:the-impact-of-technology-on-the-musical-experience&catid=220&Itemid=3665">The
            Impact of Technology on the Musical Experience</a></li>
        <li><a href="https://www.openmicuk.co.uk/advice/types-genres-of-music/">Genres Of Music | Defining Different
            Types Of Genres</a></li>
        <li><a
            href="https://www.forbes.com/sites/bernardmarr/2019/07/05/the-amazing-ways-artificial-intelligence-is-transforming-the-music-industry/?sh=2a366dd85072">The
            Amazing Ways Artificial Intelligence Is Transforming The Music Industry</a></li>
      </ul>
    </div>
  </section><!-- End Sources -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container d-md-flex py-4">
      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>UTSA Data Analytics Bootcamp 2020</span></strong>
        </div>
      </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>
  <script src="../assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../assets/vendor/counterup/counterup.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/venobox/venobox.min.js"></script>
  <script src="../assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>